.div_website{
  display: inline-block;
  width: 20%;
  margin-left: 5px;
  margin-top: 30px;
  border-radius: 10px;
  border: solid #B1EE50 2px;
}
/* Button used to open the chat form - fixed at the bottom of the page */
.open-button {
  background-color: #555;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  opacity: 0.8;
  position: fixed;
  bottom: 23px;
  right: 28px;
  width: 280px;
}
/* The popup chat - hidden by default */
.chat-popup {
  display: none;
  border-radius: 10px;
  border: solid #B1EE50 2px;
  background-color: #ddd;
  /* position: fixed; */
  /* bottom: 0;
  right: 15px;
  border: 3px solid #F1F1F1;
  z-index: 9; */
}
/* Add styles to the form container */
.form-container {
  max-width: 300px;
  padding: 10px;
  background-color: white;
}
/* Full-width textarea */
.form-container textarea {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #F1F1F1;
  resize: none;
  min-height: 200px;
}
/* When the textarea gets focus, do something */
.form-container textarea:focus {
  background-color: #ddd;
  outline: none;
}
/* Set a style for the submit/send button */
.form-container .btn {
  background-color: #04AA6D;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom:10px;
  opacity: 0.8;
}
/* Add a red background color to the cancel button */
.form-container .cancel {
  background-color: red;
}
/* Add some hover effects to buttons */
.form-container .btn:hover, .open-button:hover {
  opacity: 1;
}
#container1 {
  width: 150px;
  height: 150px;
  position: relative;
  margin: 30px;
}
/* .box {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.7;
  background: #0057E3;
}
 */
.overlay {
  /* z-index: 9; */
  /* margin: 30px; */
  background: #009938;
  height: 0;
}
.container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  /* justify-content: space-between; */
}
.details {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  width: 100%;
  height: 100%;
  /* margin-top: 10px;
  padding: 10px;
  background-color: #eee;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.7;
  background: #0057E3; */
  /* transition: ease-in; */
  /* transition: 5s; */
}
#container {
  width: 150px;
  height: 150px;
  position: relative;
  margin: 30px;
}







