#divDetails{
    color:#b1ee50;
    text-align: justify;
    padding: 31px;

}
#buttonMoreDetails{
    margin-top: 15px;
    margin-bottom: 10px;
}
.center{
    display: flex;
    justify-content: center;
    align-items: center;
}
